@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.titleFont {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #1A1A1A;
}

.navFont {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.customH1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.customH2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.001em;
  text-align: left;
}

.listItemFont {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}